.botoesLogin{
    float: right;
    transition:all 0.2s;
    width:10%;
}
.botoesLogin .espacado{
    padding:10px 2%;
    display: block;
    float: left;
}
.botoesLogin span{
    font-size: 30px;
    cursor:pointer;
    transition:all 0.2s;
}

.logado, .logadoEmpresa{
    width: 20%;
}

@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@grid-columns: 12;body{max-width:95%;margin:0 auto;min-height: 150%;}h2{font-family:arial; padding-bottom: 20px;border-bottom: 1px solid #CCC; width: 60%;margin: 15px 0px 15px 0px;font-size:28px;}.topo{margin: 0px;width: 100%;padding: 0;}h1 {font-size: 230%;}.topo img{max-height:100px}.fixar{position:fixed;right:2.5%;top:0;width:23.75%;border-radius:0}.item-menu{color:#337ab7 !important;}@media (max-width: 998px){.navbar .container-fluid .collapse form .form-group input, .navbar .container-fluid .collapse form .form-group{width:310px;transition:all 0.2s;float: left;}}.panel{margin-bottom:10px;border-radius:2px;border-bottom: 4px solid #337ab7;}.navbar{border-radius:2px; margin-bottom: 10px;border-bottom: 4px solid #337ab7;box-sizing: border-box;}.navbar .container-fluid .collapse form .form-group input{transition:all 1s;}@media (max-width:768px){.select{width:90%;margin:0 4%}}@media (min-width:768px){.select{width:40%;margin:0 4%}}.field{  border: 1px solid #DDD;padding: 40px 30px 40px 20px;border-radius: 5px;}.select select{width:100%}.btn-file{position:relative;overflow:hidden}.btn-file input[type=file]{position:absolute;top:0;right:0;min-width:100%;min-height:100%;font-size:100px;text-align:right;filter:alpha(opacity=0);opacity:0;background:red;cursor:inherit;display:block}input[readonly]{background-color:#fff!important;cursor:text!important}.row{margin: 0;}.row a h1{font-family: 'Homemade Apple', cursive;}@media (max-width: 1090px){.row a h1{width: 20%;}}@media (max-width: 991px){.row a h1{width: 45%;}}@media (max-width: 602px){.row a h1{width: 100%;}}.item-lista{/*clear: both;*/ height: 170px; margin: 1% 0%; border-bottom: 2px solid #D9D9F3; padding-bottom: 2%; /*min-height: 191px;*/ overflow: hidden;}

@media (max-width: 1110px){.botoesLogin{width:20%; transition:all 0.2s;}.botoesLogin a{margin:0 3.2% 0 0;transition:all 0.2s;}.logado{width: 25%;transition:all 0.2s;}.logadoEmpresa{width: 30%;}}

.atual{
    border-top: 2px solid #337ab7;
    height: 48px;
}

.item-menu:hover{
    border-top: 2px solid #337ab7;
    height: 48px;
    box-sizing: border-box;
}

.botoesLogin .espacado:hover{
    padding:8px 1% 0px 1%;
    display: block;
    /*float: left;*/
    border-top: 2px solid #337ab7;
}

.botoesLogin .espacado.atual:hover{
    padding:8px 15px 0px 15px;
    display: block;
    /*float: left;*/
    border-top: 2px solid #337ab7;
}

.botoesLogin .atual{
    padding:8px 15px 10px 15px;
    display: block;
    float: left;
    border-top: 2px solid #337ab7;
}

.navbar-default{
    background: #FFF;
}

.paginacao{
    clear: both;
}

.logomarca{
    text-indent:-999000px;
    font-size: 60px;
    margin: 0;
    border: 0;
    transition: all 1s;
}

@media (min-width: 991px) and (max-width: 1125px){
    .logomarca{
        background: url('/img/oO_marca_CO.png');
        width: 20%;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1126px){
    .logomarca{
        background: url('/img/logomarca.png');
        width: 30%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

@media (max-width: 990px){
    .logomarca{
        background: url('/img/logomarca.png');
        width: 50%;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .logado{
        width: 32%;
    }

    .logadoEmpresa .espacado{
        padding: 10px 0;
    }
}

@media (max-width: 660px){
    .logomarca{
        width: 100%;
    }
}

.quebra-separador{
    color: #326C99;
    font-size: 18px;
    font-weight: normal;
    margin-top: 17px !important;
    padding-bottom: 0;
    padding-top: 10px;
    clear: both;
}

.separador{
    border-bottom: 1px solid;
    color: #A6C0D9;
    display: inline-block;
    padding: 2px;
    width: 100%;
}

.separador-menor{
	border-bottom: 1px solid;
    color: #A6C0D9;
    display: inline-block;
    padding: 2px;
    width: 80%;
    margin: 10px 10% 0 10%;
}

.azul{
	color: #069;
}

.panel-curriculo{
	padding: 20px 4% 15px 4%;
}

#curriculo{
    padding: 10px 20px;
	box-shadow: 1px 1px 1px 2px #AAA;
}

#curriculo img{
	border: 1px solid #DDD;
}

#curriculo h1{
	font-size: 19px;
}

#curriculo h4{
	font-size: 13px;
}