@grid-columns:              12;
body{
	background: url("../img/fundo.png") repeat #3D3D3D;
	//min-width: 540px;
	max-width: 95%;
	margin: 0 auto;
  background-attachment: fixed;
}

.topo{
	height: 100px;
}

.topo img{
	max-height: 100px;
}

.fixar {
  position: fixed;
  right: 2.5%;
  top: 0px;
  width: 23.75%;
  border-radius: 0px;
}

.panel{
  margin-bottom: 10px;
  border-radius: 2px;
}

.navbar{
  border-radius: 2px;
}

@media (max-width: 768px){
	.select{
		width: 90%;
		margin: 0 4%;
	}
}

@media (min-width: 768px){
	.select{
		width: 40%;
		margin: 0 4%;
	}
}

.select select{
	width: 100%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}